.container {
  padding: 8px 0;
}

.label {
  color: #888;
  font-size: 12px;
}

.input, .codeInput {
  border-radius: 8px;
}

.codeInput {
  border-right: none;
}

.codeBtn {
  border-radius: 0 8px 8px 0;
}

.submitBtn {
  font-weight: 600;
}

.switchContainer {
  text-align: center;
  margin-top: 16px;
}

.switchText {
  color: #333;
  font-size: 13px;
}

.switchAction {
  color: #ff2442;
  cursor: pointer;
  font-size: 13px;
  text-decoration: underline;
}
