.grid {
  column-count: auto;
  column-width: 280px;
  column-gap: 24px;
  width: 100%;
}

.grid3 {
  column-count: 3;
  column-gap: 24px;
  width: 100%;
}

.grid5 {
  column-count: 5;
  column-gap: 16px;
  width: 100%;
}

.itemWrapper {
  break-inside: avoid-column;
  display: block;
  margin-bottom: 20px;
}

.loadingContainer {
  padding: 0 24px;
}

.skeletonWrapper {
  flex: 1;
}

.emptyContainer {
  padding: 40px;
}
